spring:
  application:
    name: ms-email

  mail:
    host: smtp.gmail.com
    port: 587
    username: adelabot.noresponder@gmail.com
    password: hvmqkxwfbpcbngpa
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

server:
  port: 9003