spring:
  application:
    name: ms-email
  config:
    import: "optional:configserver:http://localhost:8088"

  mail:
    host: smtp.gmail.com
    port: 587
    username: adelabot.noresponder@gmail.com
    password: hvmqkxwfbpcbngpa
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

server:
  port: 9003  # Permite puerto aleatorio para varias instancias

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    hostname: localhost
